table {
  min-width: 750px;
}

::ng-deep .mat-paginator-container {
  min-width: 750px !important;
}

.actions {
  display: flex;
}

.w-range {
  width: 68%;
}

.w-buttons {
  display: flex;
  width: 30%;
}

@media (max-width: 1095px) {
  .actions {
    display: block;
  }
  .w-range {
    width: 100%;
  }
  .w-buttons {
    margin-top: 0.5rem;
    width: 100%;
  }
}
