#img-login {
  height: 25vh;
  @media (max-width: 770px) {
    height: 15vh;
  }
}

// .img-carousel {
//   height: 45vh;
// }

::ng-deep .mat-tab-label .mat-tab-label-content {
  font-size: x-large;
}

.title-carousel {
  font-weight: bold !important;
  font-size: 2rem !important;
  color: rgb(245, 245, 245);
  display: inline-block;
  position: relative;
  // padding-left: 1rem;

  @media (max-width: 770px) {
    font-size: 1.5rem !important;
  }
}

.title-carousel::before {
  content: "";
  position: absolute;
  width: 150px;
  height: 4px;
  background-color: #37b2b6;
  bottom: 0.05rem;
}

.background {
  margin: 0;
  min-height: 100vh;
  background-image: url(../../assets/img/fondo3.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.mask {
  margin: 0;
  min-height: 100vh;
  background: rgba(0, 0, 0, 0.466);
  background-size: cover;
  background-attachment: fixed !important;
}

#fila {
  // min-height: 100vh;
  // align-items: center;
  padding-top: 2rem;
  @media (max-width: 770px) {
    padding-top: 0.5rem;
  }
}

.card-dark-light {
  background-color: rgba(8, 8, 8, 0.781);
}

.title_1 {
  // font-weight: bold !important;
  font-size: 2.5rem !important;
  color: #ffffff;
  display: inline-block;
  position: relative;
  // padding-left: 1rem;

  @media (max-width: 770px) {
    font-size: 2.4rem !important;
  }
}
