.example-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.example-is-mobile .example-toolbar {
  position: fixed;
  z-index: 2;
}

h1.example-app-name {
  margin-left: 8px;
}

.example-sidenav-container {
  flex: 1;
}

.example-is-mobile .example-sidenav-container {
  flex: 1 0 auto;
}

mat-sidenav {
  width: 200px;
}

.example-spacer {
  flex: 1 1 auto;
}

::ng-deep .mat-expansion-panel-header {
  padding: 0px 16px !important;
}

::ng-deep .mat-expansion-panel-body {
  padding: 10px !important;
}

::ng-deep .mat-drawer-inner-container::-webkit-scrollbar {
  display: none;
}
